.contact {
  background: $backgroundGradientA;
  @include section;
  padding: 20px;
  &__title {
    @include title;
  }
  .list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    .circular {
      &-card {
      }
      &-card__link {
      }
      &-card__image {
      }
      &-card__text {
      }
    }
  }
}
