.technologies {
  background: $backgroundGradientB;
  @include section;
  .technologies__title {
    margin: 0;
    color: $textColor;
    @include fluid-type(font-size, 600px, 1200px, 30px, 40px);
  }
  .list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
    width: 100%;
    max-width: 900px;
  }
}
